.video__iframes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  /* я бы лучше задал этот марджин для content__video, но тогда граница блока будет не такая, как в брифе */
  margin: 50px 0 -50px;
}
