@import url(../section-title/section-title.css);
@import url(../section-title/_theme/section-title_theme_dark.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../table/table.css);
@import url(../table/_theme/table_theme_dark.css);
@import url(../rotation/rotation.css);
@import url(./__triangle/kaufman__triangle.css);
@import url(./__section-title/kaufman__section-title.css);
@import url(./__section-subtitle/kaufman__section-subtitle.css);
@import url(./__table/kaufman__table.css);

.kaufman {
  padding: 90px 0;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
