
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}



/* Header */


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  /* ниже установили position для абсолютного позиционирования дочерних элементов */
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
}

.logo {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.logo_color_white {
  background-image: url(../images/logo_white.svg);
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../images/two_again.png);
  background-size: cover;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}



/* Description */


.description {
  display: flex;
  justify-content: center;
  /* ниже два свойства, чтобы перекрыть синий квадрат в шапке
  при уменьшении высоты браузера */
  position: relative;
  background-color: white;
  /* используем padding вместо margin, чтобы в отступе был фон */
  padding-top: 100px;
  /* нижний margin, чтобы сетка была, как в задании */
  margin-bottom: 100px;
}


/* Я бы уменьшил min-width у two-columns__main-text на размер margin-right у two-columns__brief,
  чтобы two-columns__main-text не выезжал за пределы контейнера и не портил центровку.
  Но чтобы все было как в задании, min-width не трогал.
  Для сохранения красоты меняем направления флекса, возвращаем порядок через order.
  Теперь при минимальной ширине окна за пределы контейнера выталкивается brief.
  У него маленький оптический вес, поэтому визуально центровка не страдает. */

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.two-columns__brief {
  width: 175px;
  /* Отступ сверху, чтобы визуально выравнять по горизонтали с текстом справа.
  Отступ справа, чтобы при уменьшении окна барузера тексты не сливались. */
  margin: 5px 30px 0 0;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  order: 1;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}



/* Digits */


.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  width: 60%;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.table {
  max-width: 1100px;
  min-width: 1060px;
  /* отступ, чтобы текст не у пирался в края при минимальном размере */
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.table__cell {
  width: 255px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0;
}



/* Feinman */

.feinman {
  position: relative;
  height: 790px;
  padding-top: 100px;
  text-align: center;
  background: #f2f2f2 url(../images/feinman.png) bottom no-repeat;
  background-position-x: left;
}

.feinman__title {
  width: 648px;
  margin: 0 auto 70px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
}

.feinman__subtitle {
  display: inline;
  margin: 0 auto;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feinman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

.feinman__link:hover {
  text-decoration: underline;
}


/* Kaufman */

.kaufman {
  background-color: #1f1f1f;
  padding: 90px auto;
}

/* Technical stuff */


/* div, h2, h3, li {
  border: 1px solid red;
} */

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* в самом низу, чтобы наверняка переопределяло */
.bottom-indent {
  margin-bottom: 20px;
}
